/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.sapphire-recipe {
	background: $white;
	color: $black;
	font-size: 16px;
	padding: 40px 20px;
	border: 1px solid #e3c6bc;
	h2 {
		margin-top: 0 !important;
		font-size: 22px !important;
	}
	h3 {
		font-size: 20px !important;
	}
	.recipe-detail-wrap {
		display: flex;
		margin-bottom: 15px;
		.recipe-detail {
			width: 100%;
		}
	}
	.recipe-icon {
		width: 20px;
		margin-right: 10px;
		display: flex;
		justify-content: flex-end;
		svg {
			max-width: 100%;
			height: auto;
		}
	}
}
